In [3]:
import pandas as pd

In [6]:
s1 = pd.Series([2,3,7,8,5,1])
print(s1)
print(s1.index)
print(s1.values)

0    2
1    3
2    7
3    8
4    5
5    1
dtype: int64
RangeIndex(start=0, stop=6, step=1)
[2 3 7 8 5 1]

In [7]:
print(s1[2])
print(s1[2:5])

7
2    7
3    8
4    5
dtype: int64

In [8]:
s2 = pd.Series([2,4,7,9,11],index=["a","b","d","c","e"])
print(s2)

a     2
b     4
d     7
c     9
e    11
dtype: int64

In [27]:
print(s2.iloc[2])
print(s2.loc["c"])
print(s2.iloc[2:5])
print(s2.loc["a":"c"])

7
9
d     7
c     9
e    11
dtype: int64
a    2
b    4
d    7
c    9
dtype: int64

In [13]:
s3 = pd.Series({"big":23.2,"Tip":19.6,"Mari":10.2})
print(s3)

big     23.2
Tip     19.6
Mari    10.2
dtype: float64

In [16]:
print("big" in s3)

True

In [20]:
s3["big"] = 29.9
print(s3["big"])
print(s3.loc["big"])
print(s3.iloc[0])

29.9
29.9
29.9

In [28]:
print(s3[s3>20])
print(s3[(s3>10) & s3<30])
print(s3[~(s3>20)])

big    29.9
dtype: float64
big     29.9
Tip     19.6
Mari    10.2
dtype: float64
Tip     19.6
Mari    10.2
dtype: float64

## series的更多操作

In [7]:
s4 = pd.Series([1,3,4])
s5 = pd.Series([2,6])
print(s4+s5)

0    3.0
1    9.0
2    NaN
dtype: float64

In [10]:
print(s4.add(s5,fill_value=0))
print(s4.sub(s5,fill_value=0))
print(s4.mul(s5,fill_value=0))
print(s4.div(s5,fill_value=1))

0    3.0
1    9.0
2    4.0
dtype: float64
0   -1.0
1   -3.0
2    4.0
dtype: float64
0     2.0
1    18.0
2     0.0
dtype: float64
0    0.5
1    0.5
2    4.0
dtype: float64

In [11]:
s4.describe()

count    3.000000
mean     2.666667
std      1.527525
min      1.000000
25%      2.000000
50%      3.000000
75%      3.500000
max      4.000000
dtype: float64

In [12]:
def get_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    else:
        return "D"

In [15]:
scores = pd.Series([54,66,88,90,23,55,48,77,80])
grades = scores.apply(get_grade)
print(grades)

0    D
1    D
2    B
3    A
4    D
5    D
6    D
7    C
8    B
dtype: object

## DataFrame表格

In [16]:
s_id = pd.Series(["01","02","03","04","05"])
s_class = pd.Series(["二班","一班","二班","三班","一班"])
s_grade = pd.Series([92,67,55,88,74])

df1 = pd.DataFrame({"学号":s_id,"班级":s_class,"成绩":s_grade})
print(df1)

   学号  班级  成绩
0  01  二班  92
1  02  一班  67
2  03  二班  55
3  04  三班  88
4  05  一班  74

In [18]:
print(df1.index)
print(df1.columns)
print(df1.values)

RangeIndex(start=0, stop=5, step=1)
Index(['学号', '班级', '成绩'], dtype='object')
[['01' '二班' 92]
 ['02' '一班' 67]
 ['03' '二班' 55]
 ['04' '三班' 88]
 ['05' '一班' 74]]

In [21]:
print(df1["成绩"]>=80)
print(df1[df1["成绩"]>=80])

0     True
1    False
2    False
3     True
4    False
Name: 成绩, dtype: bool
   学号  班级  成绩
0  01  二班  92
3  04  三班  88

In [22]:
print(df1.head())
print(df1.head(2))

   学号  班级  成绩
0  01  二班  92
1  02  一班  67
2  03  二班  55
3  04  三班  88
4  05  一班  74
   学号  班级  成绩
0  01  二班  92
1  02  一班  67